@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* headings and logo */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #454545;
}

h1 {
    font-size: 280%;
    margin-bottom: 25px;
}

h2 {
    font-size: 230%;
    margin-bottom: 20px;
}

h3 {
    font-size: 160%;
    margin-bottom: 15px;
}


#logo #logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#small-logo {
    display: none;
  }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image { 
    height: 100vh;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat top center;

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom fo hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-left: 25px;
    background-color: #71a6d26b;
    bottom: 150px;
    width: 400px;
    height: 350px;
    left: 150px;
    position: absolute;
    line-height: 50px;
}

#cover-text strong {
    color: #4b4b4b;
    font-weight: bolder;

}

/* About Us */

#about {
    height: 600px;
    clear: both;
}

#about h1,
#about p {
    text-align: center;
}

#about p {
    width: 65%;
    margin: auto;
}
#left-about {
    padding-top: 30px;
    width: 25%;
    float: left;
    padding-left: 6%;
}

#right-about {
    padding-top: 30px;
    width: 25%;
    float: left;
    padding-left: 7%;
}

#center-about {
    padding-top: 30px;
    width: 25%;
    float: left;
    padding-left: 6.5%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#left-about-heading {
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    border: 1px solid #d8d8d8;
    padding: 15px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#right-about-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    height: 200px;
    border: 1px solid #d8d8d8;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#center-about-heading {
    border: 1px solid #d8d8d8;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    margin-bottom: 50px;
}


#left-about h2, #center-about h2, #right-about h2 {
    font-size: 130%;
     text-align: center;
}

#right-about-heading p {
    text-align: right;
}

/* video */
#video {
    text-align: center;
    margin: auto;
    height: 600px; 
    clear: both;
    display: flex;
    background: #dee8f2;
}

#video iframe {
    margin-top: 30px;
    width: 75%;
    height: 500px;
    clear: both;
}

#video a {
    color: white;
    border: 1px solid #474747;
    background: #474747;
    padding: 10px;
    text-decoration: none;
}
.right-text, .left-video {
    width: 50%;
}
.right-text {
    padding: 45px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    left: 35px;
    line-height: 40px;
    font-size: 160%;
}

/* images */

#photos {
    clear: both;
    height: 800px;
}
.left-images {
    width: 50%;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.right-photos-text {
    width: 50%;
    margin: auto;
    padding: 90px;
}
#photos img {
    width: 100%;
}
/* contact-form */

#contact-form {
    height: 600px;
    background: url('../images/hero-image.jpg') no-repeat right bottom;
}

#contact-form form {
    width: 500px;
    height: 450px;
    margin: auto;
    padding-top: 75px;
    background: #00000069;
    padding-left: 15px;
    color: white;
}
#contact-form label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
#contact-form input {
    width: 97%;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
}
/* footer */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #72acd9;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    #left-about h2, #center-about h2, #right-about h2 {
        font-size: 89%;
        text-align: center;
      }
      #left-about-heading ,#center-about-heading, #right-about-heading {
        height: 320px;
    }
    .right-text {
        line-height: 35px;
        font-size: 105%;
      }
      #video iframe {
        margin-top: 95px;
        width: 87%;
        height: 400px;
      }
      #small-logo {
        display: none;
      }
}

@media screen and (max-width: 950px) {
    .right-text, .left-video {
        width: 100%;
    }
    .right-text {
        left: 0;
    }

    #left-about-heading ,#center-about-heading, #right-about-heading {
        height: 250px;
        margin-bottom: 25px;
    }
    #left-about {
        padding-top: 30px;
        width: 88%;
        float: left;
        padding-left: 6%;
        padding-right: 6%;
    }
    #right-about, #center-about {
        padding-top: 0px;
        width: 88%;
        float: left;
        padding-left: 6%;
        padding-right: 6%;
    }
    #about, #contact {
        height: 1200px;
    }
    #video {
        height: 1100px;
    }
    .right-photos-text {
        width: 88%;
        margin: auto;
        padding: 30px 30px;
    }
    #photos {
        height: 1600px;
    }
    #cover-text {
        font-size: 102%;
        left: 20px;
        width: 84%;
      }
      #logo {
        display: none;
      }
      #menu {
        display: none;
      }
      #small-logo {
        display: block;
      }
      #about p {
        width: 88%;
        margin: auto;
      }
}